<div class="row">

<div class="col-md-8 col-md-offset-2 well">
			<h1 class="text-center"> <%= @user.profile.first_name %>  <%= @user.profile.last_name %> 
			</h1>
</div>
<div class="row">
<div class="col-md-2 col-md-offset-2 text-cen">
			<%= image_tag @user.profile.avatar.url %>

		</div>
	<div class="col-md-6 well">
		
		<div class="row">
			<h3>
			<span class="job-title-icon">
				<%= job_title_icon %>
			</span>
			
			<%= @user.profile.job_title %>
			</h3>
			<% if current_user.id == 2  %>
			<p><%= @user.profile.phone_number %>
			<%= @user.profile.contact_email %>
			<% end %> </p>
			<p><%= @user.profile.description %> </p>
			<br>
		</h4>
		</div>
	</div>
</div>