<div class="row">

<div class="col-md-8 col-md-offset-2 well">
			<h1 class="text-center"> <%= @user.profile.first_name %>  <%= @user.profile.last_name %> 
			</h1>
</div>
<div class="row">
<div class="col-md-2 col-md-offset-2 text-center">
		<%= image_tag @user.profile.avatar.url, class: "user-avatar" %> 

		</div>
	<div class="col-md-6 ">
		
		<div>
			<h3  class="row text-center">  
				<span class="job-title-icon"> <%= job_title_icon %> </span>
				 <span id="job-title"> <%= @user.profile.job_title %> </span>
			</h3>
		
			<% if current_user.id == 2  %>
			<div class="white-left">
				<h4><i class="fa fa-phone white-center"></i> <%= @user.profile.phone_number %> </h4>
				<h5> <i class="fa fa-at white-center"></i><%= @user.profile.contact_email %> </h5>
			</div>
			<% end %> 

			<div class="user-profile well user-profile">
				<p><%= @user.profile.description %> </p>
			</div>

		</div>
	</div>
</div>
